.container {
  max-width: 250px;
  margin: auto;
}

ul {
  flex-direction: column;
  margin-top: 10px;
}

ul li {
  text-align: center;
}

.menu-item {
  flex-direction: column;
  text-align: center;
  height: 250px;
  width: 100%;
  justify-content: center;
}


.logo img {
  margin-top: 10px;
}
.menu {
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.buttons {
  margin-top:35px;
  flex-direction: column;
}

.main-image {
  max-width: 1080px;
  width: 100%;
  height: calc(100vh - 250px);
}

.video {
  height: calc(100vh - 250px);
  flex-wrap: wrap;
}

.video p {
  font-size: 12px;
}

.cards {
  flex-direction: column;
  width: 250px;
}

.card {
  flex-direction: column;
  width: 250px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.card h4 {
  font-size: 12px;
}

.card p {
  font-size: 12px;
}

.posts {
  justify-content: center;
  align-items: center;
}

.posts h1 {
  font-size: 20px;
  line-height: normal;
  font-weight: normal;
  text-align: center;
}

.posts h1:first-child {
  margin-top: 20px;
}

.card-page {
  flex-direction: column;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.card-page img, .card-image {
  width: 200px;
  height: 100px;
  align-self: center;
  margin-left: 0;
  margin-right: 0;
}

.card-image {
  margin-top: 10px;
}

.card-page-cinza {
  flex-direction: column-reverse;
  justify-content: center;
}

.bg-cinza {
  width: 100%;
  height: 400px;
}

.company h1 {
  font-size: 25px;
  line-height: normal;
  font-weight: normal;
  text-align: center;
}

.company p {
  font-size: 15px;
  line-height: normal;
  font-weight: normal;
  text-align: center;
}

.company {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.company-card {
  margin-left: 0;
}

.cta-card {
  height: 250px;
}

.cta-text p {
  font-size: 15px;
  line-height: normal;
  font-weight: normal;
  text-align: center;
}

.cta-buttons {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.cta-buttons button {
  width: 130px;
  height: 30px;
  margin: 0;
}

footer {
  flex-direction: column;
  width: 100%;
}

.footer {
  width: 100%;
  flex-direction: column;
}

.footer p {
  margin: 0 0 20px 0;
  text-align: center;
}

.footer-menu {
  flex-direction: column;
  margin: 20px 0 0 0;
}

.footer-menu img {
  margin: 10px 0;
}